    <el-center>
        <h1>Contitional Conversations</h1>

        <ng-container *ngIf="userService.user$ | async as user">
            <h2> User {{ user.nickname + '#' + user.id }}</h2>
            <!-- {{ user.data | json }} -->
        </ng-container>

        <ng-container *ngIf="inviteLink">
            <p>Invite link: {{ inviteLink }}</p>
        </ng-container>
    </el-center>

    
    <el-sidebar flexBasis="40%">
        <el-box>
            <el-stack margin="s5">
                <div>
                    <el-stack>
                        <h3>Conversations</h3>
                        <label>
                            Request conversation with:
                            <input type="text" [formControl]="requestConversationFormControl" (keyup.enter)="requestConversation$.next()">
                        </label>
                    </el-stack>
                </div>
                <div>
                        <ng-container *ngIf="conversations$ | async as conversations">

                            <!-- <ng-container *ngIf="conversations.error">
                                <p>Loading conversations failed, sorry.</p>
                                {{ conversations.error }}
                            </ng-container>

                            <ng-container *ngIf="conversations.loading">
                                <p>Conversations are loading...</p>
                                {{ conversations.loading }}
                            </ng-container> -->

                            <el-stack>

                                <ccs-zoom-box *ngFor="let conversation of conversations" (click)="selectedConversation$.next(conversation)">
                                    <p>From: {{ conversation?.initiator?.nickname }}</p>
                                    <p>To: {{ conversation?.recipient?.nickname }}</p>
                                </ccs-zoom-box>

                            </el-stack>

                        </ng-container>

                </div>
                <!-- <div>
                    <el-stack>
                        <p>test conversation 1 has super akward long name</p>
                        <p>test conversation 2</p>
                        <p>test conversation 3</p>
                    </el-stack>
                </div>
                <div>
                    <el-stack>
                        <p>test conversation 1 has super akward long name</p>
                        <p>test conversation 2</p>
                        <p>test conversation 3</p>
                    </el-stack>
                </div> -->
            </el-stack>
        </el-box>
        <el-box>
            <!-- <ccs-zoom-box> -->
                <ccs-conversation [conversation]="selectedConversation$ | async" ></ccs-conversation>
                <!-- <el-stack margin="s5" style="background-color: white;">
                <h3>Dummy Messages</h3>
                <div>
                    <el-stack>
                        <p>dummy message 1</p>
                        <p>dummy message 2</p>
                        <p>dummy message 3</p>
                    </el-stack>    
                </div>
                
            </el-stack>     -->
            <!-- </ccs-zoom-box> -->
            
        </el-box>
    </el-sidebar>